In [47]:
#Conditional Flow Statement using Relational OP
sal=int(input("Enter the Number:"))
if sal > 50000:
    print("Eligible for marriage")
elif sal >25000:
    print("Eligible For Love")
else:
    print("Always Single")

Enter the Number: 5

Always Single

In [62]:
mark=int(input("Enter the Mark:"))
if(mark==35):
    print("Pass")

elif(mark >= 35 and mark <= 60):
    print("Average")

elif(mark >= 61 and mark <= 100):
    print("Good")

else:
    print("fail")

Enter the Mark: 35

Pass

In [74]:
#given number is three digit number or not
num=int(input("Enter the number:"))
if(num >=100 and num <=999):
    print("This is three digit Number")

elif(num >=999 and num <=9999):
    print("This is four digit number")

else:
    print("This is not three or four digit number")

Enter the number: 1000

This is four digit number

In [79]:
#Given the number is Multiple of three
num=int(input("Enter the number:"))
if(num%3==0):
    print("This number is multiple of three ")

else:
    print("This is not a multiple of three")

Enter the number: 1111

This is not a multiple of three

In [81]:
eids=[101,102,103,104]

#for ele in sequence:
 #   pass

for eid in eids:
    print(eid)

101
102
103
104

In [85]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [94]:
ename="Rahul"
enames=["karthi","dinesh","satheesh"]
t=(10,20,30)
eids={101,102,103}
emp={
    "id":101,
    "name":"karthi",
    "sal":450000
}
for ena in enames:
    print(ena)

karthi
dinesh
satheesh

In [102]:
#print 1 to 10
#print 1 to 100
#print 5 to 100
#print 100 to 50
for x in range(1,11,1):
    print(x)

1
2
3
4
5
6
7
8
9
10

In [101]:
for x in range(1,101,1):
    print(x)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [106]:
for x in range(100,50,-1):
    print(x)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51

In [114]:
for i in range(1,11,1):
    print(i,"*",5,"=",5*i)

1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50

In [123]:
#horizontal line
for i  in range(0,19,2):
    print(i,end="\t")

0	2	4	6	8	10	12	14	16	18

In [124]:
#Vertical line
for i in range(0,20,2):
    print(i)

0
2
4
6
8
10
12
14
16
18

In [126]:
emp={
    "id":101,
    "name":"karthi",
    "sal":450000
}
for key in emp:
    print(key)

id
name
sal

In [129]:
#how to print the dict values
emp={
    "id":101,
    "name":"karthi",
    "sal":450000
}
for key,value in emp.items():
    print(key,":",value)

id : 101
name : karthi
sal : 450000