In [1]:
l1=[10,20,30,40]
print(type(l1))

<class 'list'>

In [6]:
l2=[10,20,30,50.6,"arun",True,[],{}]

print(l2)
print(type(l2))

[10, 20, 30, 50.6, 'arun', True, [], {}]
<class 'list'>

In [8]:
eids=[101,102,103,104]
print(eids)
#how to read list elements indexing
print(eids[0])
print(eids[1])
print(eids[2])
print(eids[3])
print(eids[4])

[101, 102, 103, 104]
101
102
103
104

IndexError: list index out of range

In [10]:
eids=[101,102,103,104]
print(eids)
print(eids[-4])

[101, 102, 103, 104]
101

In [11]:
#iterable object using for loop
enames=["karthi","satheesh","dinesh","vikram","navin"]
for ename in enames:
    print(ename)

karthi
satheesh
dinesh
vikram
navin

In [25]:
#iterable object using for loop
enames=["karthi","satheesh","dinesh","vikram","navin"]
print("*FOR LOOP")
for ename in enames:
    print(ename)

print("-------------------")
# iterable object using while loop
enames=["karthi","satheesh","dinesh","vikram","navin"]
#index    0          1         2         3       4
print("*WHILE LOOP")
i=0
while i<=4:
    print(enames[i])
    i=i+1

*FOR LOOP
karthi
satheesh
dinesh
vikram
navin
-------------------
*WHILE LOOP
karthi
satheesh
dinesh
vikram
navin

In [13]:
marks=[35,36,37,38,39,40]
for mark in marks:
    print(mark)

35
36
37
38
39
40

In [28]:
marks=[34,45,60,70,90]
total_marks=0

i=0
while i<=4:
    total_marks=total_marks+marks[i]
    i=i+1

    
print(total_marks)

299

In [44]:
#create list
l1=[]
l2=[10,20,30,40]
l3=list(range(0,5))
#eval finction
l4=eval(input("Enter the data"))
             
#read list
print(l1)
print(l2)
print(l3)
print(type(l3))
print(l4)

Enter the data 34,34,5,676,

[]
[10, 20, 30, 40]
[0, 1, 2, 3, 4]
<class 'list'>
(34, 34, 5, 676)

In [52]:
l1=[10,20,30,40,10,10,10,10,10,10,10,10]
print(len(l1))#print the data length
print(l1.count(10))#print the data count

12
9

In [55]:
enames=["karthi","dinesh","satheesh","karthi","karthi"]
print(l1.count(enames.karthi))

AttributeError: 'list' object has no attribute 'karthi'