In [4]:
#Concatenation
a=10
b='ten'
print(a+b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [7]:
a=10
b='20'
a*b

'20202020202020202020'

In [8]:
a='ten'
b='twenty'
a*b

TypeError: can't multiply sequence by non-int of type 'str'

In [9]:
ename="karthick"
no=2
ename*no

'karthickkarthick'

In [10]:
#Multilpy
a=10
b=89
a*b

890

In [11]:
a='ten'
b='twenty'
a*b

TypeError: can't multiply sequence by non-int of type 'str'

In [12]:
#Concatenation
fname="karthick"
iname='arun'
fname+iname

'karthickarun'

In [31]:
enames="Karthick Alagar"
l=[10,20,30,40]
t=(10,20,30,40)
s={10,20,30,40}
emp={"id":101,"name":"karthi","avail":True}

print(type(emp))
print("id" in emp)
print("karthi" in emp)
print(id(l))
print(id(s))
print(id(t))

<class 'dict'>
True
False
2844635670784
2844635518944
2844635658848
2844635243136

In [37]:
r=range(100,1000)
print(500 in r)
print(1000 in r)
print(999 in r)

True
False
True