In [2]:
t1=()
t2=10
t3=10,20,30,40
t4=(10,20,30,40)
t5=tuple(range(10))

print(type(t1))
print(type(t2))
print(type(t3))
print(type(t4))
print(type(t5))

<class 'tuple'>
<class 'int'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [8]:
enames=("karthick","dinesh","satheesh","arun","vikram","navin")
#index     0         1         2          3      4        5
#access the tuple elements -indexing
print(enames[0])

karthick

In [10]:
enames=("karthick","dinesh","satheesh","arun","vikram")
#index     0         1         2          3      4
#iterate tuple object using for and while loop
                           ----     ----------
i=0
while i<=len(enames)-1:
    print(enames[i])
    i=i+1

karthick
dinesh
satheesh
arun
vikram

In [11]:
Months=("jan","feb","mar","apr","may","june","july","aug","sep","oct","nov","dec")
print(Months)

('jan', 'feb', 'mar', 'apr', 'may', 'june', 'july', 'aug', 'sep', 'oct', 'nov', 'dec')

In [24]:
enames=("karthick","dinesh","satheesh","arun","vikram","navin")
#index     0         1         2          3      4        5

new_enames=sorted(enames)
print(new_enames)
print(type(new_enames))

print(tuple(new_enames))
print(enames)
print(type(enames))

['arun', 'dinesh', 'karthick', 'navin', 'satheesh', 'vikram']
<class 'list'>
('arun', 'dinesh', 'karthick', 'navin', 'satheesh', 'vikram')
('karthick', 'dinesh', 'satheesh', 'arun', 'vikram', 'navin')
<class 'tuple'>

In [25]:
enames=("karthick","dinesh","satheesh","arun","vikram","navin")
#index     0         1         2          3      4        5

print(enames.index('vikram'))

4

In [27]:
enames=("karthick","dinesh","vikram","satheesh","arun","vikram","navin")
#index     0         1         2          3      4        5

print(enames.count('vikram'))

2

In [ ]:
t1=(10,20,30)
t2=